<h1>Editing todo</h1>

<% form_for([current_user, @todo]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :due %><br />
    <%= f.date_select :due %>
  </p>
  <p>
    <%= f.label :done %><br />
    <%= f.check_box :done %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [current_user, @todo] %> |
<%= link_to 'Back', user_todos_path(current_user) %>
