<h1>Listing todos</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Due</th>
    <th>Done</th>
  </tr>

<% for todo in @todos %>
  <tr>
    <td><%=h todo.body %></td>
    <td><%=h todo.due %></td>
    <td><%=h todo.done %></td>
    <td><%= link_to 'Show', [current_user, todo] %></td>
    <td><%= link_to 'Edit', edit_user_todo_path(current_user, todo) %></td>
    <td><%= link_to 'Destroy', [current_user, todo], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New todo', new_user_todo_path(current_user) %>
