<p>
  <b>Body:</b>
  <%=h @todo.body %>
</p>

<p>
  <b>Due:</b>
  <%=h @todo.due %>
</p>

<p>
  <b>Done:</b>
  <%=h @todo.done %>
</p>


<%= link_to 'Edit', edit_user_todo_path(current_user, @todo) %> |
<%= link_to 'Back', user_todos_path(current_user) %>
